*;
*::before,
*::after {
	box-sizing: border-box;
}

/* Custom Properties*/

:root {
	--ff-primary:'Source Sans Pro', monospace;
	--ff-secondary: 'Source Code Pro', sans-serif; 

	--fw-reg: 300;
	--fw-bold: 900;

	--clr-ultralight : #fff;
	--clr-light: #f7f6f7;
	--clr-dark: #303030;
	--clr-accent: #f44b5e;

	--fs-h1: 3rem;
	--fs-h2: 2.25rem;
	--fs-h3: 1.25rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

@media (min-width: 800px) {
	:root {
		--fs-h1: 4.5rem;
		--fs-h2: 3.75rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.125rem;
	}
}

/* Styles */

body {
	background: var(--clr-light);
	color: var(--clr-dark);
	margin: 0;
	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;	
}

section{
	padding: 4em 2em;
}

img {
	display: block;
	max-width: 100%;
}

strong{
	font-weight: var(--fw-bold)
}


/* Buttons */
.btn {
	display: inline-block;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background: var(--clr-accent);
	color: var(--clr-ultralight);
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 2px;
	font-size: var(--fs-h3);
	font-weight: var(--fw-bold);
	transition: transform 10ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}


/* Typo */
h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

h1 {
	font-size: var(--fs-h1)
}

h2 {
	font-size: var(--fs-h2)
}

h3 {
	font-size: var(--fs-h3)
}

.section__title{
	margin-bottom: .25rem;
}

.section__title--intro {
	font-weight: var(--fw-reg)
}

.section__title--intro strong{
	display: block;
}

.section__subtitle{
	margin: 0;
	font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
	background: var(--clr-accent);
	padding: .50em 1em;
	margin-bottom: 1em;
	font-family: var(--ff-secondary)
}


/* Intro section*/

.intro {
	position: relative;
}

.intro__img{
	box-shadow: var(--bs);
}

@media (min-width: 1200px){
	.intro {
		display: grid;
		width: min-content;
		margin: 0 auto;
		grid-column-gap:  1em;
		grid-template-areas:
			"img tilte"
			"img subtitle";
		grid-template-columns: max-content min-content;
	}

	.intro__img{
		grid-area: img;
		min-width: 250px;
		position: relative;
		z-index: 2;
	}

	.section__subtitle--intro {
		align-self: start;
		grid-column: -1 / 1;
		grid-row: 2;
		text-align: right;
		position: relative;
		left: -2em;
		width: calc(100% + 1.5em);
	}
}

/* Service section */
.our_services {
	background-color: var(--clr-dark);
	color: var(--clr-ultralight);
	text-align: center;
}

.section__title--services {
	color: var(--clr-accent);
	position: relative;
	margin-bottom: 1em;
}

.services{
	margin-bottom: 2em;
}

@media(min-width: 1200px){
	.services{
		display: flex;
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.service + .service{
		margin-left: 3em;
	}
}

/* About us*/
.about-us {
	text-align: center;
}

.section__title--about{
	color: var(--clr-accent);
	position: relative;
}
.card-wrapper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.card{
	width: 32rem;
	background-color: #ebeef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
	width: 100%;
	height: 26rem;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 100% 62%, 49% 100%, 0 63%);
}

.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -11rem;
	z-index: 999;
	border: 1rem solid #ebeef8;
}
.card h1{
	font-size: 2.5rem;
	color: #333;
	margin: 1.5rem 0;
}

.job-title{
	color: #777;
	font-size: 1.5rem;
	font-weight: 300;
}

.about{
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}

.card .btn{
	padding: 1rem 2.5rem;
	background-color: var(--clr-accent);
	border-radius: 2rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: #eee;
	font-size: 1.4rem;
	transition: all .5s;
}
.card .btn:hover{
	transform: translateY(-2px);
	box-shadow: .5rem .5rem 2rem rgba(0,0,0,.2);
}
.card .btn:active{
	transform: translateY(0);
	box-shadow: none;
}
@media screen and (min-width: 767px){
	.card-wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}


	.card{
		margin: 2rem;
		transition: transform .5s;
	}

	@keyframes fadeIn2 {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	.card:nth-child(1){
		animation: fadeIn2 0.5s .5s backwards;
	}
	.card:nth-child(2){
		animation: fadeIn2 0.5s 1s backwards;
	}
	.card:nth-child(3){
		animation: fadeIn2 0.5s 1.5s backwards;
	}

	.card:hover{
		transform: scale(1.05);
	}
}

/* footer */
.footer{
	background-color: var(--clr-dark);
	color: var(--clr-accent);
	text-align: center;
	padding: 2.5em 0;
}

.footer a{
	color: inherit;
}

.footer--link:hover{
	opacity: .7;
}